.main-nav__toggle {
  display: none;

  @include viewport--md {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 26px;
    background: none;
    border: none;
    outline: none;
    z-index: 999;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: url('/img/svg/icon-open.svg') no-repeat;
    }
  }
}
