.menu {
  padding-left: 25px;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $color-default-black;

  &:hover {
    color: $color-neon-blue;
  }
}
